= form_for [@observation,ice], :html => {:class => :autosave} do |i|
  %p.half_size
    = i.label :thin_ice_lookup_id, "Thin Ice Type"
    = i.collection_select :thin_ice_lookup_id, IceLookup.all, :id, :code_with_name, |
      { :include_blank => true }, { :class => :combobox}
  %p.half_size
    = i.label :thick_ice_lookup_id, "Thick Ice Type"
    = i.collection_select :thick_ice_lookup_id, IceLookup.all, :id, :code_with_name, |
      { :include_blank => true }, { :class => :combobox}
  %p.half_size
    = i.label :total_concentration, 'Total Sea Ice Concentration'
    = i.text_field :total_concentration
  %p.half_size
    = i.label :open_water_lookup_id, 'Open Water'
    = i.collection_select :open_water_lookup_id, OpenWaterLookup.all, :id, :code_with_name, |
      { :include_blank => true }, { :class => :combobox }


