.btn-toolbar.span12
  .btn-group
    -if @observation.errors.any?
      .btn.btn-large.btn-warning.disabled
        Invalid
    -else
      .btn.btn-large.btn-success.disabled
        Valid
  .btn-group
    -%w(general ice meteorology photos comments).each do |s|
      = link_to s.capitalize, "##{s}", data: {toggle: 'pill'}, class: "btn btn-large #{s == 'general' ? 'btn-primary' : ''}"
  .btn-group
    %button.btn.btn-info.btn-large{data: {target: '#add_comment', toggle: 'modal'}}
      %i.icon-comment.icon-white
      Comment
  .btn-group
    = f.submit "Saved", class: 'btn btn-large disabled','data-enable-text' => 'Save', disabled: true, id: 'save_observation'
    = f.submit "Save and Exit", class: 'btn btn-large btn-inverse', id: 'save_and_exit_observation'
