.row
  =f.fields_for :ice do |i|
    .span4
      .control-group
        = i.label :total_concentration, 'Total Concentration (tenths)', class: 'control-label'
        .controls
          = i.select :total_concentration, options_for_percent(i.object.total_concentration), |
            {include_blank: true}, {:class => :combobox}
        %p.help-text
    .span4
      .control-group
        = i.label i.object.open_water_lookup_id, 'Open Water', class: 'control-label'
        .controls
          = i.collection_select :open_water_lookup_id, OpenWaterLookup.all, :id, :code_with_name, |
            { :include_blank => true }, { :class => :combobox }
        %p.help-text

%h3
  %ul.nav.nav-tabs{id: 'ice-properties'}
    %li.active
      =link_to "Ice", "#ice_obs", {data: {toggle: 'tab'}}
    %li
      =link_to "Snow", "#snow", {data: {toggle: 'tab'}}
    %li
      =link_to "Topography", "#topography", {data: {toggle: 'tab'}}
    %li
      =link_to "Melt", "#melt-ponds", {data: {toggle: 'tab'}}
    %li
      =link_to "Other", "#other", {data: {toggle: 'tab'}}

.tab-content
  #ice_obs.tab-pane.active
    .row
      =render partial: 'ice_observation', locals: { f: f, ice_observation: @observation.ice_observations.primary}
      =render partial: 'ice_observation', locals: { f: f, ice_observation: @observation.ice_observations.secondary}
      =render partial: 'ice_observation', locals: { f: f, ice_observation: @observation.ice_observations.tertiary}
  #snow.tab-pane
    .row
      =render partial: 'snow', locals: { f: f, snow: @observation.ice_observations.primary, title: "Primary"}
      =render partial: 'snow', locals: { f: f, snow: @observation.ice_observations.secondary, title: "Secondary"}
      =render partial: 'snow', locals: { f: f, snow: @observation.ice_observations.tertiary, title: "Tertiary"}
  #topography.tab-pane
    .row
      =render partial: 'topography', locals: { f: f, topography: @observation.ice_observations.primary.topography, title: "Primary"}
      =render partial: 'topography', locals: { f: f, topography: @observation.ice_observations.secondary.topography, title: "Secondary"}
      =render partial: 'topography', locals: { f: f, topography: @observation.ice_observations.tertiary.topography, title: "Tertiary"}
  #melt-ponds.tab-pane
    .row
      =render partial: 'melt_ponds', locals: { f: f, melt_pond: @observation.ice_observations.primary.melt_pond, title: "Primary"}
      =render partial: 'melt_ponds', locals: { f: f, melt_pond: @observation.ice_observations.secondary.melt_pond, title: "Secondary"}
      =render partial: 'melt_ponds', locals: { f: f, melt_pond: @observation.ice_observations.tertiary.melt_pond, title: "Tertiary"}
  #other.tab-pane
    .row
      =render partial: 'other', locals: { f: f, other: @observation.ice_observations.primary, title: "Primary"}
      =render partial: 'other', locals: { f: f, other: @observation.ice_observations.secondary, title: "Secondary"}
      =render partial: 'other', locals: { f: f, other: @observation.ice_observations.tertiary, title: "Tertiary"}
    .page-header
    .row
      = f.fields_for :ice do |i|
        .span4.offset2
          .control-group
            = i.label :thick_ice_lookup_id, "Thick Ice Type", class: 'control-label'
            .controls
              = i.collection_select :thick_ice_lookup_id, IceLookup.all, :id, :code_with_name, |
                { :include_blank => true }, { :class => :combobox}
              %p.help-block
        .span4
          .control-group
            = i.label :thin_ice_lookup_id, "Thin Ice Type", class: 'control-label'
            .controls
              = i.collection_select :thin_ice_lookup_id, IceLookup.all, :id, :code_with_name, |
                { :include_blank => true }, { :class => :combobox}
            %p.help-block
