.span4
  %h3= title
  =f.fields_for :ice_observations, other do |o|
    .control-group
      = o.label :biota_lookup_id, "Algae Concentration", class: 'control-label'
      .controls
        = o.collection_select :biota_lookup_id, BiotaLookup.all, :id, :code_with_name, |
          { :include_blank => true }, { :class => :combobox }
        %p.help-block
    .control-group
      = o.label :biota_density_lookup_id, "Algae Density", class: 'control-label'
      .controls
        = o.collection_select :biota_density_lookup_id, BiotaDensityLookup.all, :id, :code_with_name, |
          { :include_blank => true }, { :class => :combobox }
        %p.help-block
        

    .control-group
      = o.label :sediment_lookup_id, "Sediment", class: 'control-label'
      .controls
        = o.collection_select :sediment_lookup_id, SedimentLookup.all, :id, :code_with_name, |
          { :include_blank => true }, { :class => :combobox }
        %p.help-block
