= f.fields_for :ship do |s|
  .row
    .span4
      .control-group        
        = s.label :heading, "Heading (degrees)", class: 'control-label'
        .controls
          = s.text_field :heading
    .span4
      .control-group
        = s.label :power, class: 'control-label'
        .controls
          = s.select :power, ship_power_options(s.object.power), {include_blank: true, allow_blank: true}, {class: 'combobox'}
    .span4
      .control-group
        = s.label :speed, "Speed (knots)", class: 'control-label'
        .controls
          = s.text_field :speed
  .row
    .span4
      .control-group
        = s.label :ship_activity_lookup_id, "Ship Activity", class: 'control-label'
        .controls
          = s.collection_select :ship_activity_lookup_id, ShipActivityLookup.all, |
            :code, :code_with_name, {include_blank: true, allow_blank: true}, class: 'combobox'
  