.span4.topography_group
  %h3=title
  = f.fields_for :ice_observations, topography.ice_observation do |builder|
    = builder.fields_for :topography, topography do |t|
      .control-group
        = t.label :topography_lookup_id, "Topography Type", class: 'control-label'
        .controls
          = t.collection_select :topography_lookup_id, TopographyLookup.all, :id, :code_with_name, |
          { allow_blank: true, include_blank: true }, { :class => "combobox topography" }
          %p.help-block
      .control-group
        =t.label :concentration, "Concentration", class: 'control-label'
        .controls
          = t.select :concentration, options_for_percent(topography.concentration), {allow_blank: true, include_blank: true}, {class: [:combobox, :concentration]}
          %p.help-block
            in tenths            
      .control-group.ridge-height
        = t.label :ridge_height, "Ridge Height (m)", class: 'control-label'
        .controls
          .input-append
            = t.number_field :ridge_height, :step => 0.5

          %p.help-block
            meters to nearest half-meter
      .control-group.ridge-boolean
        = t.label :old, class: 'control-label'
        .controls
          .btn-group{'data-toggle' => 'buttons-radio', 'data-toggle-name' => "old_#{topography.id}"}
            %button.btn{'data-toggle' => 'button', 'data-radio-value' => 't', class: topography.old ? 'active' : ''}
              True
            %button.btn{'data-toggle' => 'button', 'data-radio-value' => 'f', class: topography.old ? '' : 'active'}
              False
            =t.hidden_field :old, id: "old_#{topography.id}"
          %p.help-block
      .control-group.ridge-boolean
        = t.label :consolidated, class: 'control-label'
        .controls
          .btn-group{'data-toggle' => 'buttons-radio', 'data-toggle-name' => "consolidated_#{topography.id}"}
            %button.btn{'data-toggle' => 'button', 'data-radio-value' => 't', class: topography.consolidated ? 'active' : ''}
              True
            %button.btn{'data-toggle' => 'button', 'data-radio-value' => 'f', class: topography.consolidated ? '' : 'active'}
              False
            =t.hidden_field :consolidated, id: "consolidated_#{topography.id}"
          %p.help-block          
      .control-group.ridge-boolean
        = t.label :snow_covered, class: 'control-label'
        .controls
          .btn-group{'data-toggle' => 'buttons-radio', 'data-toggle-name' => "snow_covered_#{topography.id}"}
            %button.btn{'data-toggle' => 'button', 'data-radio-value' => 't', class: topography.snow_covered ? 'active' : ''}
              True
            %button.btn{'data-toggle' => 'button', 'data-radio-value' => 'f', class: topography.snow_covered ? '' : 'active'}
              False
            =t.hidden_field :snow_covered, id: "snow_covered_#{topography.id}"
          %p.help-block        
        
