%h1 Edit Observation

#observation_form.ui-tabs-vertical
  %ul
    %li= link_to 'General', '#general'
    %li= link_to 'Ice', '#ice'
    %li= link_to 'Meteorological', '#meteorological'
    %li= link_to 'Comments', '#comments'
    %li= link_to 'Preview', '#preview'

  = form_for @observation do |f|
    #general
      =render :partial => 'general', :locals => {:f => f}
    #ice
      =render @observation.ice
    #meteorological
      =render @observation.meteorology
    #comments
      = render :partial => 'comments', :locals => {:f => f}
    #preview
      = render 'preview'

#user_form
  = render User.new