%h1 Editing #{@observation.obs_datetime}

#observation_form.ui-tabs-vertical
  %ul
    %li= link_to 'General', '#general'
    %li= link_to 'Ice', '#ice'
    %li= link_to 'Meteorological', '#meteorological'
    %li= link_to 'Comments', '#comments'
    %li= link_to 'Photos', '#photos'
    %li= link_to 'Preview', '#preview'
    = button_to "Save", {}, :id => "save_observations", :class => "save_button"

  =# form_for @observation, :remote => true do |f|
  #general
    = render 'general'
  #ice
    #ice_obs_buttons
      = label_tag "global_ice", "Global"
      = radio_button_tag "ice_observation_button", "#global", true,  :id => "global_ice"
      = label_tag "primary_ice", "Primary"
      = radio_button_tag "ice_observation_button", "#primary", false,  :id => "primary_ice"
      = label_tag "secondary_ice", "Secondary"
      = radio_button_tag "ice_observation_button", "#secondary", false,  :id => "secondary_ice"
      = label_tag "tertiary_ice", "Tertiary"
      = radio_button_tag "ice_observation_button", "#tertiary", false,  :id => "tertiary_ice"

    #global.selected
      = render @observation.ice
    = render @observation.ice_observations

  #meteorological
    = render @observation.meteorology
    =# f.submit "Save Report"

  #comments
    =# render :partial => 'comments', :locals => {:f => f}
    =# f.submit "Save Report"


  #photos
    = render :partial => 'photos/upload'
    #attached_photos
      - @observation.photos.each do |p|
        = render p
  #preview
    = render 'preview'

#user_form
  = render User.new
#status_dialog
  #status_bar