%h1
  #{@observation.obs_datetime.strftime("%Y.%m.%d %H:%M")} |
  Lat: #{@observation.latitude}, Lon: #{@observation.longitude}

#observation_form.ui-tabs-vertical
  %ul
    %li= link_to 'General', '#general'
    %li= link_to 'Ice', '#ice'
    %li= link_to 'Meteorological', '#meteorological'
    %li= link_to 'Comments', '#comments'
    %li= link_to 'Photos', '#photos'
    %li= link_to 'Preview', observation_path(@observation)

  #nav_buttons
    = form_tag do
      = button_tag "Save",  :id => "save_button", :disabled => true
      = button_tag "Next", :id => "next_button"

  #general
    = render 'general'
  #ice
    = render @observation.ice
    .iceobs
      .iceobs_column= render @observation.ice_observations.primary
      .iceobs_column= render @observation.ice_observations.secondary
      .iceobs_column= render @observation.ice_observations.tertiary


  #meteorological
    = render @observation.meteorology
    =# f.submit "Save Report"

  #comments
    = render :partial => 'comments/form'
    #obs_comments
      = render @observation.comments

  #photos
    = render :partial => 'photos/upload'
    #attached_photos
      - @observation.photos.each do |p|
        = render p


#user_form
  = render User.new
#lookup_details
