=render 'form'
/ #error_messages{style: 'position:absolute; top: 50px; right:50px;'}
/   =render 'errors'
  
#add_comment.modal.hide
  - comment = @observation.comments.build data: "(General)"
  = form_for [@observation,comment], remote: true do |f|
    .modal-header
      %h4
        Add Comment
        = link_to "×", "#", 'data-dismiss' => 'modal', class: 'close'
    .modal-body
      .control-group
        = f.label :user_id, "Add as:", class: 'control-label'
        .controls
          = f.collection_select :user_id, User.all, :id, :first_and_last_name, |
            { :include_blank => false }, {class: 'users combobox'}
        %p.help-block
      .control-group
        .controls
          = f.text_area :data, rows: 10
    .modal-footer
      = f.submit "Add Comment", class: 'btn btn-primary btn-large'

=render 'observations/user'

.hide
  = form_for [@observation,@observation.photos.build], remote: true do |f|
    .file_upload
      Upload Photo
      = f.file_field :data
  
