%h1 Edit Observation

= form_for(@observation) do |f|
  #observation_form
    %ul
      %li= link_to 'General', '#general'
      %li= link_to 'Ice Observations', '#ice'
      %li= link_to 'Meteorological Observations', '#meteorological'
      %li= link_to 'Comments', '#comments'
      %li= link_to 'Preview', '#preview'

    #general
      =render 'general'
    #ice
      =render @observation.ice
    #meteorological
      =render @observation.meteorology
    #comments
      =# f.label :comments, 'Comments'
      =# f.text_area :comments
    #preview
