%h1 Observations


%table#obslist
  %thead
    %tr
      %th Observation Date
      %th Last Modified
      %th Total Ice Concentration
      %th Primary Observer
      %th Additional Observers
      %th # Photos
      %th Finalized?
      %th Actions
  %tbody
    - @observations.each do |o|
      %tr.observation
        %td= o.obs_datetime
        %td= o.updated_at
        %td= o.ice.try(:total_concentration)
        %td= o.primary_observer.try(:first_and_last_name)
        %td= o.additional_observers.collect(&:first_and_last_name).join ","
        %td= o.photos.count
        %td= o.finalized? ? 'Yes' : 'No'
        %td
          = link_to "[edit]", edit_observation_path(o)
          = link_to "[export]", observation_path(o, :zip)
          = link_to "[csv]", observation_path(o,:csv)
:javascript
  $('table#obslist').dataTable({
    "bPaginate": true,
    "bJQueryUI": true
  });
