%h1 New Observation

= form_for(@observation) do |f|
  #observation_form.ui-tabs-vertical
    %ul
      %li= link_to 'General', '#general'
      %li= link_to 'Ice', '#ice'
      %li= link_to 'Meteorological', '#meteorological'
      %li= link_to 'Comments', '#comments'
      %li= link_to 'Preview', '#preview'
      
    #general.ui-tabs-hide
      %p
        = f.label :obs_datetime, 'Observation Time'
        = text_field_tag 'observation[date]'
        = text_field_tag 'observation[time]'
      %p
        = f.label :latitude
        = f.text_field :latitude
        = f.label :longitude
        = f.text_field :longitude
      %p
        = f.label :sea_ice_concentration, 'Total Sea Ice Concentration'
        = f.text_field :sea_ice_concentration
      %p
        = f.label :open_water_type_id, 'Open Water'
        = f.collection_select :open_water_type_id, OpenWaterLookup.all, :id, :code_with_name, |
          { :include_blank => true }, { :class => :combobox }
    #ice.ui-tabs-hide
    #meteorological.ui-tabs-hide
      %p
        = f.label :visibility_id
        = f.collection_select :visibility_id, VisibilityLookup.all, :id, :code_with_name, |
          { :include_blank => true }, { :class => :combobox }
      %p
        = f.label :cloud_cover, 'Cloud Cover'
        = f.text_field :cloud_cover
      %p
        = f.label :cloud_height, 'Cloud Height'
        = f.text_field :cloud_height
      %p
        = f.label :cloud_type_id, 'Cloud Type'
        = f.collection_select :cloud_type_id, CloudLookup.all, :id, :code_with_name, |
          { :include_blank => true }, { :class => :combobox }
        %p
        = f.label :weather_id
        = f.collection_select :weather_id, WeatherLookup.all, :id, :code_with_name, |
          { :include_blank => true }, { :class => :combobox }
    #comments.ui-tabs-hide
      =# f.label :comments, 'Comments'
      =# f.text_area :comments
    #preview.ui-tabs-hide
