%p
  Primary Observer:
  = @observation.primary_observer.first_and_last_name
%p
  Additional Observers:
  = @observation.additional_observers.join(", ")
%p
  Observed at:
  = @observation.obs_datetime.strftime("%Y.%m.%d %H:%M")
%p
  Ice Observations:
  %p
    Global:
    = @observation.ice.to_json
  %p
    Primary:
    = @observation.ice_observations.primary.to_json