.ice_obs{:id => ice_observation.obs_type}
  %h2= ice_observation.obs_type.capitalize
  = form_for [@observation, ice_observation], :namespace => ice_observation.id, |
    :html => {:class => "autosave notify" } do |i|
    = field_set_tag "Ice" do
      .half_size
        .label
          = i.label :partial_concentration, "Partial Concentration"
          .infotext= "% of ice cover"
        = i.select :partial_concentration, (0..100).step(10).to_a,{:include_blank => true, |
          :selected => ice_observation.partial_concentration.to_i},{:class => [:combobox, :partial_concentration]} 
        #tc.infotext
          ="Total Concentration: #{@observation.ice.total_concentration}%"
        .tip_content
          Partial concentration of Total Concentration ( P + S + T = TC )

      .half_size
        .label
          = i.label :ice_lookup_id, "Ice Type"
          = link_to "See Examples", lookup_url("ice"), :target => "_blank", :class => :infotext
        = i.collection_select :ice_lookup_id, IceLookup.all, :id, :code_with_name, |
          { :include_blank => true }, { :class => :combobox }

      .half_size
        = i.label :thickness, "Thickness"
        = i.text_field :thickness

      .half_size.tip
        = i.label :floe_size_lookup_id, "Floe Size"
        = i.collection_select :floe_size_lookup_id, FloeSizeLookup.all, :id, :code_with_name, |
          { :include_blank => true }, { :class => :combobox }
        .tip_content
          In Meters

    = render :partial => ice_observation.topography, :locals => {:f => i}

    = field_set_tag "Snow" do
      .half_size
        = i.label :snow_lookup_id, "Snow Type"
        = i.collection_select :snow_lookup_id, SnowLookup.all, :id, :code_with_name, |
          { :include_blank => true }, { :class => :combobox }

      .half_size.tip
        .label
          = i.label :snow_thickness, "Snow Thickness"
          .infotext= "(cm)"
        = i.text_field :snow_thickness
        .tip_content
          In Centimeters
    = render :partial => ice_observation.melt_pond, :locals => {:f => i}

    = field_set_tag "Other" do
      .half_size
        = i.label :biota_lookup_id, "Biota"
        = i.collection_select :biota_lookup_id, BiotaLookup.all, :id, :code_with_name, |
          { :include_blank => true }, { :class => :combobox }

      .half_size
        = i.label :sediment_lookup_id, "Sediment"
        = i.collection_select :sediment_lookup_id, SedimentLookup.all, :id, :code_with_name, |
          { :include_blank => true }, { :class => :combobox }
