=content_for :header_nav do
  %ul.nav.pull-left
    %li=link_to "General", "#general"
    %li=link_to "Ice", "#ice"
    %li=link_to "Meteorological", "#meteorological"
    %li=link_to "Photos", "#photos"
    %li=link_to "Comments", "#comments" 

#nav_buttons
  = form_tag do
    = button_tag "Save",  :id => "save_button", :disabled => true
    = button_tag "Next", :id => "next_button"
%section{id: 'general'}
  .page-header
    %blockquote
      %h1
        General
  =render 'general'
  
  
%section.hide{id: 'ice'}
  .page-header
    %blockquote
      %h1
        Ice
  .row
    .span3
      =render @observation.ice_observations.primary
    .span3
      =render @observation.ice_observations.secondary
    .span3
      =render @observation.ice_observations.tertiary
    .span3
      =render @observation.ice


.hide
  #general.row-fluid
    = render 'general'
  #ice.row-fluid
    = render @observation.ice
    .iceobs
      .iceobs_column= render @observation.ice_observations.primary
      .iceobs_column= render @observation.ice_observations.secondary
      .iceobs_column= render @observation.ice_observations.tertiary
  
  
  #meteorological.row-fluid
    = render @observation.meteorology
    =# f.submit "Save Report"
  
  #comments.row-fluid
    = render :partial => 'comments/form'
    #obs_comments
      = render @observation.comments
  
  #photos.row-fluid
    = render :partial => 'photos/upload'
    #attached_photos
      - @observation.photos.each do |p|
        = render p


#user_form.modal.hide
  .modal-header
    Add User
    %button{class: 'close', 'data-dismiss' => "modal"}
      &times
  .modal-body
    = render User.new
  .modal-footer
    Close
#lookup_details
