=form_for user, :remote => true do |f|
  .errors
  %p
    = f.label :firstname, "First Name"
    = f.text_field :firstname
  %p
    = f.label :lastname, "Last Name"
    = f.text_field :lastname
  %p
    = f.submit "Add User"
    = f.submit "Add and select as Primary Observer"