= f.fields_for :topography do |t|
  =field_set_tag "Topography" do
    = t.hidden_field :id
    .half_size
      = t.label :topography_lookup_id, "Topography"
      = t.collection_select :topography_lookup_id, TopographyLookup.all, :id, :code_with_name, |
        { :include_blank => true }, { :class => "combobox topography" }
    .ridges.rafts.half_size
      .label
        = t.label :concentration
        .infotext= "(in tenths)"
      = t.select :concentration, (0..10), {:include_blank => true, :selected => topography.concentration.to_i }, {:class => :combobox}
    .ridges.half_size
      .label
        = t.label :ridge_height
        .infotext= "(meters to nearest half-meter)"
      = t.number_field :ridge_height, :step => 0.5


    .half_size
      .radioset.ridges
        %span.toggle_label
          New?
        = t.label "topography_old_yes", "Yes"
        = t.radio_button :old, true, |
          { :id => "ice_observation_topography_attributes_topography_old_yes",
          :checked => topography.old? }
        = t.label "topography_old_no", "No"
        = t.radio_button :old, false, |
          { :id => "ice_observation_topography_attributes_topography_old_no",
          :checked => !topography.old? }
      .radioset.ridges
        %span.toggle_label
          Consolidated?
        = t.label "topography_consolidated_yes", "Yes"
        = t.radio_button :consolidated, true, :id => "ice_observation_topography_attributes_topography_consolidated_yes"
        = t.label "topography_consolidated_no", "No"
        = t.radio_button :consolidated, false, :id => "ice_observation_topography_attributes_topography_consolidated_no"
      .radioset.ridges
        %span.toggle_label
          Snow Covered?
        = t.label "topography_snow_yes", "Yes"
        = t.radio_button :snow_covered, true, :id => "ice_observation_topography_attributes_topography_snow_yes"
        = t.label "topography_snow_no", "No"
        = t.radio_button :snow_covered, false, :id => "ice_observation_topography_attributes_topography_snow_no"
