-unless photo.new_record?
  .row
    .thumbnail.span2
      = image_tag "#{observation_photo_url(@observation, photo.checksum_id)}#{File.extname(photo.name)}"
    .edit_photo_div.span10
      = form_for [@observation, photo], :remote => true do |f|
        .control-group
          .controls
            .btn-toolbar
              .btn-group{'data-toggle' => 'buttons-radio', 'data-toggle-name' => "photo_location_id_#{photo.id}" }
                - OnBoatLocationLookup.all.each do |loc|
                  %button.btn.boat_location{'data-toggle' => 'button', 'data-radio-value' => loc.id, class: photo.on_boat_location_lookup_id == loc.id ? "active" : ""}
                    = loc.name
              .btn-group
                = link_to "Delete", [@observation,photo], method: :delete, class: 'btn btn-danger delete_photo', confirm: 'Are you sure?', remote: true
        .control-group
          .controls
            = f.text_field :note, placeholder: 'notes'
            %p.help-text
              %span.label.label-success.hide
                Saved
              %span.label.label-warning.hide
                Saving
              %span.label.label-important.hide
                Error
        =f.hidden_field :on_boat_location_lookup_id, id: "photo_location_id_#{photo.id}"
        