-unless photo.new_record?
  .attached_photo
    .thumbnail
      = image_tag "#{observation_photo_path(photo)}#{File.extname(photo.name)}"
    .edit_photo_form
      = form_for [@observation, photo], :remote => true do |f|
        .photo_locations.radioset{:id=> "photo_#{photo.id}"}
          - OnBoatLocationLookup.all.each do |loc|
            = f.label "location_lookup_id_#{loc.id}_#{photo.id}", loc.name
            = f.radio_button :on_boat_location_lookup_id,  loc.id, :checked => photo.on_boat_location_lookup_id == loc.id ? true : false, :id => "photo_location_lookup_id_#{loc.id}_#{photo.id}"
      %span.delete_photo
        = button_to "Delete", [@observation,photo], :method => :delete, :remote => true

