= f.fields_for :meteorology do |m|
  %p
    = m.label :visibility_lookup_id
    = m.collection_select :visibility_lookup_id, VisibilityLookup.all, :id, :code_with_name, |
      { :include_blank => true }, { :class => :combobox }
  %p
    = m.label :cloud_cover, 'Cloud Cover'
    = m.text_field :cloud_cover
  %p
    = m.label :cloud_height, 'Cloud Height'
    = m.text_field :cloud_height
  %p
    = m.label :cloud_lookup_id, 'Cloud Type'
    = m.collection_select :cloud_lookup_id, CloudLookup.all, :id, :code_with_name, |
      { :include_blank => true }, { :class => :combobox }
  %p
    = m.label :weather_lookup_id
    = m.collection_select :weather_lookup_id, WeatherLookup.all, :id, :code_with_name, |
      { :include_blank => true }, { :class => :combobox }