= form_for [@observation, meteorology], :html => {:class => "autosave notify" } do |m|
  .container
    .column_25
      .half_size
        = m.label :visibility_lookup_id, "Visibility"
        = m.collection_select :visibility_lookup_id, VisibilityLookup.all, :id, :code_with_name, |
          { :include_blank => true }, { :class => :combobox }
    .column_25
      .half_size
        = m.label :weather_lookup_id
        = m.collection_select :weather_lookup_id, WeatherLookup.all, :id, :code_with_name, |
          { :include_blank => true }, { :class => :combobox }

  .iceobs
    .iceobs_column
      =render :partial => meteorology.clouds.high, :locals => {:f => m}
    .iceobs_column
      =render :partial => meteorology.clouds.medium, :locals => {:f => m}
    .iceobs_column
      =render :partial => meteorology.clouds.low, :locals => {:f => m}