!!!5
%html
  %head
    %title ASSIST
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        =image_tag "assist_icon.png", class: 'logo pull-left'
        .container

          =link_to root_url, class: :brand do
            %strong
              ASSIST:
            - %w(Arctic Shipbourne Sea Ice Standardization Tool).each do |word|
              = succeed(word[1..-1] + " ") do
                %strong= word.first
          %ul.nav.pull-right
            %li= link_to 'List', root_url
            %li= link_to 'New', observations_path, method: :post
            %li.last=# link_to 'Manage [not implemented]', manage_observations_path
    .container
      .row
        = yield :header_nav
      .row
        = yield 