!!!5
%html
  %head
    %title ASSIST
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{'data-spy' => "scroll", 'data-target' => '#spy'}
    .navbar
      .navbar-inner
        .logo.pull-left
        .container

          =link_to root_url, class: :brand do
            - %w(Arctic Ship-based Sea Ice Standardization Tool).each do |word|
              = succeed(word[1..-1] + " ") do
                %strong= word.first

          %ul.nav.pull-right
            %li= link_to 'List', root_url
            %li= link_to 'New', new_observation_path
            %li.last= link_to 'Manage [not implemented]', manage_observations_path
    .container
      .row
        = yield :header_nav
      .row
        = yield 